body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-repeat:no-repeat,no-repeat;
    background-position: left;
    background-image:url("https://cdni.iconscout.com/illustration/premium/thumb/sign-up-8044864-6430773.png?f=webp");
    background-size: 400px 400px;
    background-attachment:fixed;
    
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px  5px;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #f7f9fa;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}